---
import type { IElement, MDXInstance, Post } from "@/types";
import { getLocaleTime } from "@/util";
export interface Props extends IElement {
	post: MDXInstance<Post>;
	withDesc?: boolean;
}

const { post, as: Element = "div", withDesc = false } = Astro.props as Props;

const { pubDate } = post.frontmatter;
const date = new Date(pubDate);
const datetime = date.toISOString();
const postDate = getLocaleTime(date, { month: "short", day: "2-digit" });
---

<time {datetime} class="min-w-[120px] text-gray-500 text-base relative top-1 uppercase">{postDate}</time>
<Element>
	<a href={post.url} class="text-link font-bold">
		{post.frontmatter.title}
	</a>
	{
		withDesc && (
			<p class="text-lg line-clamp-3 mt-1">
				{post.frontmatter.description}
			</p>
			)
		}
</Element>
